{{!< default}}
{{#post}}
<!-- Header principal -->
<header class="main-header post-head" style="background-image: url({{#if image}}{{image}}{{else}}{{asset "images/cover_default.jpg"}}{{/if}})">
    {{!-- Links de Navegación del Blog --}}
    {{navigation}}
    
</header>

{{!-- Publicidad Principal Post --}}
<div class="post___publicidad" align="center">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3311622925293570"
     data-ad-slot="9028298448"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<main class="main" role="main">
  <article class="contenedor___post {{post_class}}">
    <header>
      <h1 class="post-titulo">{{title}}</h1>
      <section class="post-meta flex wrap jcfs aicenter ">
        <div class="box-time flex wrap aicenter">
          <span class="icon-clock"></span>
          <time class="time" datetime="{{date format="YYYY-MM-DD"}}">{{date published_at timeago="true"}}</time>
        </div>
        {{#if tags}}
          {{#foreach tags limit="5"}}
            <a href="{{url}}" title="{{name}}" class="tag-{{slug}}">{{name}}</a> 
          {{/foreach}}
        {{/if}}
      </section>
    </header>
    <section class="post_contenido">
    
      <div class="compartir-redes-sociales">
        <ul class="no-lista flex jcc aicenter">
          <li>
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10&appId=128181427574206";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

            <div class="fb-share-button" data-href="{{@blog.url}}{{url}}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Compartir</a></div>

          </li>

          <li>
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="01luisrene">Twittear</a> 
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </a>
          </li>
          <li>
            <a class="google-plus flex jcc aicenter" href="https://plus.google.com/share?url={{blog.url}}{{url}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
              <i class="icon-google-plus3" aria-hidden="true"></i>&nbsp;Google+

            </a>
          </li>
        </ul>
      </div>

      {{content}}
      {{!-- Publicidad Footer Post --}}
      <div class="post___publicidad" align="center">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-3311622925293570"
               data-ad-slot="2571465647"
               data-ad-format="auto"></ins>
      <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      </div>
      
    </section>
    <footer class="post-footer">
    {{!-- Información sobre el autor del post --}}
    {{#author}}
      {{#if image}}
      <figure class="autor-imagen">
          <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="oculto">{{name}}'s Picture</span></a>
      </figure>
      {{/if}}
      <section class="autor">
        <h4 class="autor-nombre"><a href="{{url}}">{{name}}</a></h4>
        {{#if bio}}
            <p class="autor-bio">{{bio}}</p>
        {{else}}
            <p class="autor-mas-post">Leer <a href="{{url}}">más posts</a> de este autor.</p>
        {{/if}}
        <div class="autor-meta">
          {{#if location}}
            <span class="autor-ubicacion fa fa-map-marker">
              {{location}}
            </span>
          {{/if}}
          {{#if website}}
            <span class="autor-web fa fa-globe">
              <a href="{{website}}" target="_blank"> {{website}}</a>
            </span>
          {{/if}}
          {{#if twitter}}
            <span class="autor-twitter fa fa-twitter">
              <a href="{{twitter_url}}" target="_blank"> {{twitter}}</a>
            </span>
          {{/if}}
          {{#if facebook}}
            <span class="autor-facebook fa fa-facebook">
              <a href="{{facebook_url}}" target="_blank"> {{@blog.facebook}}</a>
            </span>
          {{/if}}
        </div>
      </section>
    {{/author}}

    {{!-- Formulario para suscripción vía email --}}
    {{#if @labs.subscribers}}
    <section class="gh-subscribe">
      <h3 class="gh-subscribe-title">Únete al Blog</h3>
      <p>Obtén los últimos artículos publicados directamente en tu bandeja de entrada.</p>
      {{subscribe_form placeholder="Your email address"}}
      <span class="gh-subscribe-rss">O suscríbase <a href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/">vía RSS</a> con Feedly!</span>
    </section>
    {{/if}}
    </footer>
  </article>
{{!-- Links para navegar por el siguiente y el anterior post --}}
<aside class="post__leer__mas flex">
  {{#next_post}}
  <a class="read-next-story next" {{#if image}}style="background-image: url({{image}})"{{else}}style="background-image: url({{asset "images/cover_default.jpg"}})"{{/if}} href="{{url}}">
      <h2 class="read-next-title">{{title}}</h2>
      <p class="read-next-parrafo">{{excerpt words="25"}}&hellip;</p>
  </a>
  {{else}}
  <span class="read-next-story disabled" style="background-image: url({{asset "images/cover_default.jpg"}})">
      <button class="btn-read-next">« Siguiente</button>
      <p class="read-next-parrafo">No hay más posts</p>
  </span>
  {{/next_post}}

  {{#prev_post}}
  <a class="read-next-story prev"{{#if image}}style="background-image: url({{image}})"{{else}}style="background-image: url({{asset "images/cover_default.jpg"}})"{{/if}} href="{{url}}">
      <h2 class="read-next-title">{{title}}</h2>
      <p class="read-next-parrafo">{{excerpt words="25"}}&hellip;</p>
  </a>
  {{else}}
  <span class="read-next-story disabled" style="background-image: url({{asset "images/cover_default.jpg"}})">
      <button class="btn-read-next">Anterior »</button>
      <p class="read-next-parrafo">No hay más posts</p>
  </span>
  {{/prev_post}}
</aside>
<!--Formulario de Comentarios-->
<section class="post__disqus interior">
  <h2>Comparte tu Opinión</h2>
  <div id="disqus_thread"></div>  
  <script>  
  var disqus_config = function () {  
  this.page.url = '{{url absolute="true"}}';
  this.page.identifier = 'ghost-{{id}}';
  };
  (function() {
  var d = document, s = d.createElement('script');
  s.src = '//blog-ghost.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());  
  (d.head || d.body).appendChild(s);
  })();
  </script>  
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript> 
</section>
</main>
{{/post}}


